<a class="list-group-item list-group-item-action clearfix" [routerLink]="['/jobs/details/', jobItemEntry.id]">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ jobItemEntry.title }}</h4>
    <p class="list-group-item-text">{{ jobItemEntry.description }}</p>
    <small class="text-muted"><em>Required Skills: </em>{{ jobItemEntry.skills }}</small>
  </div>
  <span class="pull-right text-right">
        <small class="text-muted">{{ jobItemEntry.startDate.toLocaleDateString() }}</small><br>
        <strong><small class="text-muted">{{ jobItemEntry.place }}</small></strong><br>
        <small class="text-muted">{{ jobItemEntry.workloadMin}}-{{ jobItemEntry.workloadMax }}%</small>
      </span>
</a>
