<h3>Register</h3>
<hr>

<form class="form-horizontal">

  <!-- USER DETAILS -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <h5>User Details</h5>
    </div>
  </div>

  <!-- E-Mail -->
  <div class="form-group" id="email">
    <label class="col-sm-3 control-label">E-Mail *</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" placeholder="E-Mail" name="email" [(ngModel)]="userData.email">
      <div class="alert alert-danger" *ngIf="error.userEmailEmpty === true">
        Please enter E-Mail
      </div>
    </div>
  </div>

  <!-- Password -->
  <div class="form-group" id="password">
    <label class="col-sm-3 control-label">Password *</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" placeholder="Re-enter Password" name="password" [(ngModel)]="userData.password">
      <div class="alert alert-danger" *ngIf="error.userPasswordEmpty === true">
        Please enter Password
      </div>
    </div>
  </div>

  <!-- Confirm Password -->
  <div class="form-group" id="confirmPassword">
    <label class="col-sm-3 control-label">Confirm Password *</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" placeholder="Confirm Password" name="confirm password" [(ngModel)]="confirmPassword">
      <div class="alert alert-danger" *ngIf="error.userConfirmPassword === true">
        <div *ngIf="error.userConfirmPasswordEmpty === true">
          Please enter confirm Password
        </div>
        <div *ngIf="error.userPasswordsNotEqual === true">
          Password and confirm Password do not match
        </div>
      </div>
    </div>
  </div>


  <!-- User / Type -->
  <div class="form-group">
    <label class="col-sm-3 control-label">User Type *</label>
    <div class="col-sm-9">
      <select class="form-control" name="userType" [(ngModel)]="userType">
        <option>Company</option>
        <option>Student</option>
      </select>
    </div>
  </div>

  <hr>

  <!-- COMPANY -->
  <div *ngIf="userType === 'Company'">

    <!-- COMPANY DETAILS-->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h5>Company Details</h5>
      </div>
    </div>

    <!-- Company Name -->
    <div class="form-group" id="name">
      <label class="col-sm-3 control-label">Name *</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="Name" name="name" [(ngModel)]="companyData.name">
        <div class="alert alert-danger" *ngIf="error.companyNameEmpty === true">
          Please enter Company Name
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group" id="description">
      <label for="desc" class="col-sm-3 control-label">Description *</label>
      <div class="col-sm-9">
        <textarea id="desc" rows="4" class="form-control" placeholder="Description" name="description" [(ngModel)]="companyData.description"></textarea>
        <div class="alert alert-danger" *ngIf="error.companyDescriptionEmpty === true">
          Please enter Description
        </div>
      </div>
    </div>

    <!-- Website -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Website</label>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon">www.</div>
          <input type="text" class="form-control" placeholder="Website" name="website" [(ngModel)]="companyData.website">
        </div>
      </div>
    </div>

    <!-- Logo -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Logo</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="URL to image of company logo (preferably .png)" name="logo" [(ngModel)]="companyData.logo">
      </div>
    </div>

    <!-- Company - Address -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h5>Address</h5>
      </div>
    </div>

    <!-- Street and House No. -->
    <div class="form-group">
      <div id="streetHouse">
        <label class="col-sm-3 control-label">Street / House No. *</label>
      </div>
      <div class="col-sm-7" id="street">
        <input class="form-control" placeholder="Street" name="street" [(ngModel)]="companyData.street">
        <div class="alert alert-danger" *ngIf="error.companyStreetEmpty === true">
          Please enter Street
        </div>
      </div>
      <div class="col-sm-2" id="house">
        <input class="form-control" placeholder="House No." name="houseNumber" [(ngModel)]="companyData.houseNumber">
      </div>
    </div>

    <!-- Postcode and Place -->
    <div class="form-group">
      <div  id="postcodeCity">
        <label class="col-sm-3 control-label">ZIP Code / Place *</label>
      </div>
      <div class="col-sm-2" id="postcode">
        <input class="form-control" placeholder="ZIP Code" name="zipCode" [(ngModel)]="companyData.postcode">
        <div class="alert alert-danger" *ngIf="error.companyPostcode === true">
          <div *ngIf="error.companyPostcodeEmpty === true">
            Please enter ZIP Code
          </div>
          <div *ngIf="error.postcodeNumber === true && error.companyPostcodeNumberLow != true && error.companyPostcodeNumberHigh != true">
            Must be number
          </div>
          <div *ngIf="error.companyPostcodeNumberLow === true && error.companyPostcodeEmpty != true">
            Must be >= 1000
          </div>
          <div *ngIf="error.companyPostcodeNumberHigh === true">
            Must be <= 9999
          </div>
        </div>
      </div>
      <div class="col-sm-7" id="city">
        <input class="form-control" placeholder="Place" name="place" [(ngModel)]="companyData.city">
        <div class="alert alert-danger" *ngIf="error.companyCityEmpty === true">
          Please enter City
        </div>
      </div>
    </div>

    <!-- Company - Contact Person -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h5>Contact Person</h5>
      </div>
    </div>

    <!-- Contact Name -->
    <div class="form-group" id="contactName">
      <label class="col-sm-3 control-label">Name *</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="Name" name="contactName" [(ngModel)]="companyData.contactName">
        <div class="alert alert-danger" *ngIf="error.companyContactNameEmpty === true">
          Please enter Contact Name
        </div>
      </div>
    </div>

    <!-- Contact E-Mail -->
    <div class="form-group" id="contactEmail">
      <label class="col-sm-3 control-label">E-Mail</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="E-Mail" name="contactEmail" [(ngModel)]="companyData.contactEmail">
      </div>
    </div>

    <!-- Contact Phone -->
    <div class="form-group" id="contactPhone">
      <label class="col-sm-3 control-label">Phone</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="Phone" name="contactPhone" [(ngModel)]="companyData.contactPhone">
      </div>
    </div>

    <!-- Company / 'Register' Button -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success" (click)="onRegister()">Register</button>
        <span class="pull-right"><strong>* Required</strong></span>
      </div>
    </div>

  </div>

  <!-- STUDENT DETAILS -->
  <div *ngIf="userType === 'Student'">
    <div class="col-sm-offset-3 col-sm-9">
      <em>This option is currently not available.</em>
    </div>
  </div>

</form>
