<h3>Register</h3>
<hr>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-3 control-label">E-Mail</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" placeholder="E-Mail">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" placeholder="Confirm Password">
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">User Type</label>
    <div class="col-sm-9">
      <select class="form-control">
        <option>Company</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Street</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Street">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">ZIP Code / Place</label>
    <div class="col-sm-2">
      <input class="form-control" placeholder="ZIP Code">
    </div>
    <div class="col-sm-7">
      <input class="form-control" placeholder="Place">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Website</label>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon">www.</div>
        <input type="text" class="form-control" placeholder="Website">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="desc" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <textarea id="desc" rows="5" class="form-control" placeholder="Description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
  </div>

</form>
