<h3>Edit Job Posting</h3>
<hr>

<form class="form-horizontal">

  <!-- JOB DETAILS -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <h5>Job Details</h5>
    </div>
  </div>

  <!-- Display Message from Admin if job posting is unaccepted and message contains text -->
  <div class="form-group" *ngIf="(!this.format.isEmpty(jobData.messageFromAdmin)) && jobData.accepted != true">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="alert alert-danger">
        <strong>Please fix the following to get this job posting accepted:</strong><br>
        {{ jobData.messageFromAdmin }}
      </div>
    </div>
  </div>

  <!-- Title -->
  <div class="form-group" id="title">
    <label class="col-sm-3 control-label">Title *</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Title" name="title" [(ngModel)]="jobData.title">
      <div class="alert alert-danger" *ngIf="error.titleEmpty === true">
        Please enter Title
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="form-group" id="description">
    <label for="desc" class="col-sm-3 control-label">Description *</label>
    <div class="col-sm-9">
      <textarea id="desc" rows="3" class="form-control" placeholder="Description" name="description" [(ngModel)]="jobData.description"></textarea>
      <div class="alert alert-danger" *ngIf="error.descriptionEmpty === true">
        Please enter Description
      </div>
    </div>
  </div>

  <!-- Workload (Min/Max) -->
  <div class="form-group" id="workload">
    <label class="col-sm-3 control-label">Workload *</label>
    <div class="col-sm-4">
      <div id="workloadMin">
        <div  class="input-group">
          <input type="text" class="form-control" placeholder="Min" name="workloadMin" [(ngModel)]="jobData.workloadMin">
          <div class="input-group-addon">%</div>
        </div>
        <div class="alert alert-danger" *ngIf="error.workloadMin === true">
          <div *ngIf="error.workloadMinEmpty === true">
            Please enter Minimum
          </div>
          <div *ngIf="error.workloadMinNumber === true && error.workloadMinLow != true && error.workloadMinHigh != true">
            Must be number
          </div>
          <div *ngIf="error.workloadMinLow === true && error.workloadMinEmpty != true">
            Must be ≥ 1
          </div>
          <div *ngIf="error.workloadMinHigh === true">
            Must be ≤ 100
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-4">
      <div id="workloadMax">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Max" name="workloadMax" [(ngModel)]="jobData.workloadMax">
          <div class="input-group-addon">%</div>
        </div>
        <div class="alert alert-danger" *ngIf="error.workloadMax == true">
          <div *ngIf="error.workloadMaxEmpty == true">
            Please enter Maximum
          </div>
          <div *ngIf="error.workloadMaxNumber == true && error.workloadMaxLow == false && error.workloadMaxHigh == false">
            Must be number
          </div>
          <div *ngIf="error.workloadMaxLow == true && error.workloadMaxEmpty == false">
            Must be ≥ 1
          </div>
          <div *ngIf="error.workloadMaxHigh == true">
            Must be ≤ 100
          </div>
          <div *ngIf="error.workloadMaxRange == true">
            Must be Min ≤ Max
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- REQUIREMENTS -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <h5>Requirements</h5>
    </div>
  </div>

  <!-- Skills -->
  <div class="form-group" id="skills">
    <label class="col-sm-3 control-label">Skills *</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Skills" name="skills" [(ngModel)]="jobData.skills">
      <div class="alert alert-danger" *ngIf="error.skillsEmpty === true">
        Please enter Skills
      </div>
    </div>
  </div>

  <!-- Languages (First/Second) -->
  <div class="form-group">
    <div id="languages">
      <label class="col-sm-3 control-label">Languages *</label>
    </div>
    <div class="col-sm-4" id="firstLanguage">
      <input class="form-control" placeholder="First Language" name="firstLanguage" [(ngModel)]="jobData.firstLanguage">
      <div class="alert alert-danger" *ngIf="error.languageEmpty === true">
        Please enter a Language
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-4" id="secondLanguage">
      <input class="form-control" placeholder="Second Language" name="secondLanguage" [(ngModel)]="jobData.secondLanguage">
    </div>
  </div>

  <!-- DATES -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <h5>Dates</h5>
    </div>
  </div>

  <!-- Start Date -->
  <div class="form-group" id="startDate">
    <label class="col-sm-3 control-label">Start Date</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="DD.MM.YYYY" name="startDate" [(ngModel)]="startDate">
      <div class="alert alert-danger" *ngIf="error.startDateFormat === true">
        Please enter the Start Date in a valid Format
      </div>
    </div>
  </div>

  <!-- End Date -->
  <div class="form-group" id="endDate">
    <label class="col-sm-3 control-label">End Date</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="DD.MM.YYYY" name="endDate" [(ngModel)]="endDate">
      <div class="alert alert-danger" *ngIf="error.endDateFormat === true">
        Please enter the End Date in a valid Format
      </div>
    </div>
  </div>

  <!-- Offer Valid Until -->
  <div class="form-group" id="validUntil">
    <label class="col-sm-3 control-label" title="Set the date to which this job posting should be available">Offer Valid Until *</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="DD.MM.YYYY" name="offerValidUntil" [(ngModel)]="validUntil">
      <div class="alert alert-danger" *ngIf="error.validUntil === true">
        <div *ngIf="error.validUntilEmpty === true">
          Please enter a valid until Date
        </div>
        <div *ngIf="error.validUntilFormat === true && error.validUntilEmpty != true">
          Please enter the valid until Date in a valid Format
        </div>
      </div>
    </div>
  </div>

  <!-- WORK LOCATION -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <h5>Work Location</h5>
    </div>
  </div>

  <!-- Street and House No. -->
  <div class="form-group">
    <div id="streetHouse">
      <label class="col-sm-3 control-label">Street / House No. *</label>
    </div>
    <div class="col-sm-7" id="street">
      <input class="form-control" placeholder="Street" name="street" [(ngModel)]="jobData.street">
      <div class="alert alert-danger" *ngIf="error.streetEmpty === true">
        Please enter Street
      </div>
    </div>
    <div class="col-sm-2" id="house">
      <input class="form-control" placeholder="House No." name="houseNumber" [(ngModel)]="jobData.houseNumber">
    </div>
  </div>

  <!-- Postcode and Place -->
  <div class="form-group">
    <div  id="postcodeCity">
      <label class="col-sm-3 control-label">Postcode / Place *</label>
    </div>
    <div class="col-sm-2" id="postcode">
      <input class="form-control" placeholder="Postcode" name="zipCode" [(ngModel)]="jobData.postcode">
      <div class="alert alert-danger" *ngIf="error.postcode === true">
        <div *ngIf="error.postcodeEmpty === true">
          Please enter ZIP Code
        </div>
        <div *ngIf="error.postcodeNumber === true && error.postcodeLow != true && error.postcodeHigh != true">
          Must be number
        </div>
        <div *ngIf="error.postcodeLow === true && error.postcodeEmpty != true">
          Must be ≥ 1000
        </div>
        <div *ngIf="error.postcodeHigh === true">
          Must be ≤ 9999
        </div>
      </div>
    </div>
    <div class="col-sm-7" id="city">
      <input class="form-control" placeholder="Place" name="place" [(ngModel)]="jobData.city">
      <div class="alert alert-danger" *ngIf="error.cityEmpty === true">
        Please enter City
      </div>
    </div>
  </div>

  <!-- SALARY -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <h5>Salary</h5>
    </div>
  </div>

  <!-- Type -->
  <div class="form-group" id="salaryType">
    <label class="col-sm-3 control-label">Type *</label>
    <div class="col-sm-9">
      <select class="form-control" name="salaryType" [(ngModel)]="jobData.salaryType">
        <option>Monthly</option>
        <option>Hourly</option>
        <option>One Time Payment</option>
      </select>
      <div class="alert alert-danger" *ngIf="error.salaryTypeEmpty === true">
        Please enter Salary Type
      </div>
    </div>
  </div>

  <!-- Amount -->
  <div class="form-group" id="salaryAmount">
    <label class="col-sm-3 control-label">Amount</label>
    <div class="col-sm-9">
      <div class="input-group">
        <div class="input-group-addon">CHF</div>
        <input type="text" class="form-control" placeholder="Amount" name="salaryAmount" [(ngModel)]="jobData.salaryAmount">
      </div>
    </div>
  </div>

  <!-- Job Edit - Save Changes Button -->
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-primary" (click)="onUpdate()">Save Changes</button>
      <span class="pull-right"><strong>* Required</strong></span>
    </div>
  </div>

</form>
