table {
  width: 100%;
  background-color: #f3f3f3;
  border: #666666 solid 2px;
  margin-bottom: 10px;
}

p {
  margin: 5px;
  text-align: justify;
}

.btn {
  margin: 5px;
  width: 40px;
}

.glyphicon {
  vertical-align: middle;
}
