<table>
  <tr>

    <td>
      <p>
        <strong>Logo</strong><br>
        <img src="{{ userApplicationEntry.logo }}">
      </p>
      <p>
        <strong>Name</strong><br>
        {{ userApplicationEntry.name }}
      </p>
      <p>
        <strong>Street</strong><br>
        {{ userApplicationEntry.street }} {{ userApplicationEntry.houseNumber }}
      </p>
      <p>
        <strong>ZIP Code / Place</strong><br>
        {{ userApplicationEntry.zipCode }} {{ userApplicationEntry.place }}
      </p>
      <p>
        <strong>Contact Details</strong><br>
        {{ userApplicationEntry.contactName }}<br>
        {{ userApplicationEntry.contactEmail }}<br>
        {{ userApplicationEntry.contactPhone }}
      </p>
      <p>
        <strong>Website</strong><br>
        www.{{ userApplicationEntry.website }}
      </p>
      <p>
        <strong>Description</strong><br>
        {{ userApplicationEntry.description }}
      </p>
    </td>

    <td class="pull-right">
      <button type="button" class="btn btn-success" (click)="onApprovedUserApplication()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <br>
      <button type="button" class="btn btn-danger" (click)="onDeniedUserApplication()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </td>

  </tr>
</table>
