<h3>Create new Job Posting</h3>
<hr>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-md-3 control-label">Title</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Title" name="title" [(ngModel)]="jobPostingEntry.title">
    </div>
  </div>

  <div class="form-group">
    <label for="desc" class="col-md-3 control-label">Description</label>
    <div class="col-md-9">
      <textarea id="desc" rows="5" class="form-control" placeholder="Description" name="description" [(ngModel)]="jobPostingEntry.description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Required Skills</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Required Skills" name="skills" [(ngModel)]="jobPostingEntry.skills">
    </div>
  </div>

  <!-- Check for datepicker -->

  <div class="form-group">
    <label class="col-md-3 control-label">Start Date</label>
    <div class="col-md-9">
      <input  class="form-control" placeholder="Start Date" name="startDate" [(ngModel)]="jobPostingEntry.startDate">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">End Date</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="End Date" name="endDate" [(ngModel)]="jobPostingEntry.endDate">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Posting Valid Until</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Posting Valid Until" name="postingValidUntil" [(ngModel)]="jobPostingEntry.validUntil">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Workload</label>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Min" name="workloadMin" [(ngModel)]="jobPostingEntry.workloadMin">
        <div class="input-group-addon">%</div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Max" name="workloadMax" [(ngModel)]="jobPostingEntry.workloadMax">
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Languages</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Languages" name="languages" [(ngModel)]="jobPostingEntry.languages">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">ZIP Code / Place</label>
    <div class="col-md-2">
      <input class="form-control" placeholder="ZIP Code" name="zipCode" [(ngModel)]="jobPostingEntry.zipCode">
    </div>
    <div class="col-md-7">
      <input class="form-control" placeholder="Place" name="place" [(ngModel)]="jobPostingEntry.place">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Salary Type</label>
    <div class="col-md-9">
      <select class="form-control" name="salaryType" [(ngModel)]="jobPostingEntry.salaryType">
        <option>Monthly</option>
        <option>Hourly</option>
        <option>One Time Payment</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Salary Amount</label>
    <div class="col-md-9">
      <div class="input-group">
        <div class="input-group-addon">CHF</div>
        <input type="text" class="form-control" placeholder="Salary Amount" name="salaryAmount" [(ngModel)]="jobPostingEntry.salaryAmount">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-success" (click)="onCreate()">Submit</button>
    </div>
  </div>

</form>
