<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/jobs" class="navbar-brand">Job Postings</a>
      <span class="pull-right">
        <button type="button" class="btn btn-dark navbar-toggle-btn" (click)="toggleMenu()">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </span>
    </div>

    <div id="navbar-toggable" class="navbar-default navbar-inverse navbar-hidden">
      <ul class="nav navbar-nav">
        <li><a routerLink="/jobs" routerLinkActive="navbar-active">Jobs</a></li>
        <li><a routerLink="/contact" routerLinkActive="navbar-active">Contact</a></li>
        <li><a routerLink="/about" routerLinkActive="navbar-active">About Us</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <div *ngIf="!isLoggedIn()">
          <button type="button" class="btn btn-primary" routerLink="/login">Sign in</button>
          <button type="button" class="btn btn-success" routerLink="/register">Register</button>
        </div>
        <div *ngIf="isLoggedIn()">
          <button type="button" class="btn btn-default" routerLink="/my-account">My Account</button>
          <button type="button" class="btn btn-danger" (click)="onSignOut()">Sign Out</button>
        </div>
      </div>
    </div>

  </div>
</nav>
