.navbar {
  width: 100%;
  min-height: 60px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.navbar-nav {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
}

.navbar-nav>li {
  display: inline-block;
}

.navbar-brand {
  color: #EEEEEE;
  font-size: 25px;
  font-weight: 500;
}

.navbar-toggle-btn {
  display: none;
}

.navbar-right {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-active {
  background-color: #454545 !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}

.btn {
  margin: 7px 10px 0 0;
}

.btn-dark {
  background-color: #AAA !important;
  padding-bottom: 5px;
}

@media(max-width: 767px){
  .navbar-toggle-btn{display: inline-block}
  .navbar-hidden{display: none}
}
