<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">

    <!-- Header Brand: MIB Logo and Mobile Menu Hamburger -->
    <div class="navbar-header">
      <a routerLink="/jobs" class="navbar-brand"><img src="../../assets/mib_banner.png" alt="Job Postings"></a>
      <span class="pull-right displayMobile">
        <button type="button" class="btn btn-dark" (click)="toggleMenu()">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </span>
    </div>

    <!-- Toggable header section for mobile devices -->
    <div id="navbar-toggable" class="navbar-default navbar-inverse displayDesktop">

      <!-- Header Navigation: Jobs, Contact and About Us -->
      <ul class="nav navbar-nav">
        <li><a routerLink="/jobs" routerLinkActive="navbar-active">Jobs</a></li>
        <li><a routerLink="/companies" routerLinkActive="navbar-active">Companies</a></li>
        <li><a routerLink="/about" routerLinkActive="navbar-active">About Us</a></li>
      </ul>

      <!-- Header Buttons -->
      <div class="nav navbar-right">

        <!-- Logged Out Users: Sign In and Register-->
        <div *ngIf="!this.request.checkIfUser()">
          <button type="button" class="btn btn-primary" routerLink="/login">Sign In</button>
          <button type="button" class="btn btn-success" routerLink="/register">Register</button>
        </div>

        <!-- Logged In Users: Admin Dropdown (if Admin), My Account Dropdown (if User) and Sign Out -->
        <div *ngIf="this.request.checkIfUser()">
          <div *ngIf="this.request.checkIfAdmin()" class="dropdown dropdownAdmin">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Admin <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-toggle="dropdown" aria-labelledby="dropdownMenu">
              <li class="dropdown-header">Show All</li>
              <li><a routerLink="/admin/all/companies">Companies</a></li>
              <li><a routerLink="/admin/all/jobs">Job Postings</a></li>
              <li class="dropdown-header">Show In Review</li>
              <li><a routerLink="/admin/unverified/companies">Companies</a></li>
              <li><a routerLink="/admin/unaccepted/jobs">Job Postings</a></li>
            </ul>
          </div>
          <div *ngIf="!this.request.checkIfAdmin()" class="dropdown dropdownUser">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              My Account <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-toggle="dropdown" aria-labelledby="dropdownMenu">
              <li><a routerLink="/my-account/settings">Account Settings</a></li>
              <li><a routerLink="/my-account/job-postings">My Job Postings</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-danger" (click)="this.request.onSignOut()">Sign Out</button>
        </div>
      </div>
    </div>

  </div>
</nav>
