.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  min-height: 60px;
  padding-top: 5px;
  margin-bottom: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-nav {
  padding-left: 0;
  font-size: 15px;
  font-weight: 500;
}

.navbar-nav>li {
  display: inline-block;
}

.navbar-brand {
  color: #EEEEEE;
  font-size: 25px;
  font-weight: 500;
}

.navbar-brand img {
  display: block;
  margin: -4px -5px 0 -3px;
  padding: 0;
  max-height: 29px;
  max-width: 250px;
}

.navbar-right {
  padding-bottom: 10px;
}

.navbar-active {
  background-color: #454545 !important;
  font-weight: 500 !important;
  color: #FFFFFF !important;
}

.btn {
  margin: 7px 10px 0 0;
}

.btn-dark {
  background-color: #AAA !important;
  padding-bottom: 5px;
}

.dropdown {
  display: inline-block;
}

.dropdownUser ul {
  margin-right: -38px;
}

.dropdownAdmin ul {
  margin-right: -72px;
}

.dropdown a {
  padding: 10px 15px 10px 15px;
}

.dropdown-header {
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  padding-left: 15px;
}

