<h3>User Applications</h3>
<p>The following users registered on the site and await approval to be registered.</p>

<!-- List all users from the database who's status is still 'open' -->
<app-user-application></app-user-application>
<app-user-application></app-user-application>

<br><br>

<h3>Job Submissions</h3>
<p>The following jobs were submitted and await approval to be posted.</p>

<!-- List all job submissions from the database who's status is still 'open' -->
<app-job-submission></app-job-submission>
<app-job-submission></app-job-submission>
<app-job-submission></app-job-submission>
