img {
  max-width: 80%;
  max-height: 100px;
  display: block;
  margin: 10px auto 10px auto;
}

strong {
  font-size: 15px;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
}

table {
  width: 100%;
}

.col-md-12 {
  margin: 0 0 15px 0;
}

.col-md-4 {
  padding-left: 0;
}

.label {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px 4px 3px;
}

.glyphicon-star {
  padding-left: 2px;
  padding-bottom: 3px;
}
