<div class="form-group" id="salaryType">
  <div>
    <label for="datePostedSelect">Show postings posted</label><select class="form-control" [(ngModel)]="datePostedMin" id="datePostedSelect">
      <option *ngFor="let OptionItem of datePosted" [value]="OptionItem.date">{{OptionItem.label}}</option>
    </select>
  </div>
  <div>
    <label for="startDateSelect">I would like to work between</label><select class="form-control" [(ngModel)]="startDateMin" id="startDateSelect">
      <option *ngFor="let OptionItem of startDate" [value]="OptionItem.date">{{OptionItem.label}}</option>
    </select>
  </div>
  <div>
    <label for="endDateSelect">and</label><select class="form-control" [(ngModel)]="endDateMax" id="endDateSelect">
      <option *ngFor="let OptionItem of endDate" [value]="OptionItem.date">{{OptionItem.label}}</option>
    </select>
  </div>
  <div>
    <label for="languagesBox">Languages</label>
    <div class="btn-group" role="group" id="languagesBox">
      <div *ngFor="let LanguageItem of languages">
        <button type="button" class="btn btn-secondary">{{LanguageItem}}</button>
        <button type="button" class="btn btn-secondary">
          <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="removeItemFromLanguagesArray(LanguageItem)"></span>
        </button>
      </div>
  </div>
  <div class="input-group mb-3">
    <input type="text" id="newLanguageInput" class="form-control" placeholder="New language" [(ngModel)]= "newLanguageInput">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="addItemToLanguagesArray();">Add</button>
    </div>
  </div>
</div>


<button (click)="filter()">filter()</button>
