<!-- Title -->
<h3>
  <span [ngClass]="{'label label-info' : jobData.featured == true}">
    <span class="glyphicon glyphicon-star" *ngIf="jobData.featured == true" title="Featured"></span>
  </span>
  {{ format.simpleText(jobData.title) }}
</h3>
<hr>

<!-- Job Details -->
<div class="col-sm-8">

  <!-- General: Date Posted, City and Workload -->
  <small>
    {{ format.datePosted(jobData.datePosted) }}
     |
    <strong>{{ format.simpleText(jobData.city) }}</strong>
     |
    {{ format.workload(jobData.workloadMin, jobData.workloadMax) }}
  </small>

  <!-- Description -->
  <h4>Description</h4>
  <p>{{ format.simpleText(jobData.description) }}</p>

  <!-- Requirements: Skills and Languages -->
  <h4>Requirements</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Skills</th>
      <td style="width: 60%;">{{ format.simpleText(jobData.skills) }}</td>
    </tr>
    <tr>
      <th scope="row">Languages</th>
      <td>{{ format.languages(jobData.firstLanguage, jobData.secondLanguage) }}</td>
    </tr>
    </tbody>
  </table>

  <!-- Dates: Start Date and End Date -->
  <h4>Dates</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Start Date</th>
      <td style="width: 60%;">{{ format.startDate(jobData.startDate) }}</td>
    </tr>
    <tr>
      <th scope="row">End Date</th>
      <td>{{ format.endDate(jobData.endDate) }}</td>
    </tr>
    </tbody>
  </table>

  <!-- Work Location: Street, House No., Postcode and City -->
  <h4>Work Location</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Street</th>
      <td style="width: 60%;">{{ format.street(jobData.street, jobData.houseNumber) }}</td>
    </tr>
    <tr>
      <th scope="row">Postcode / Place</th>
      <td>{{ format.city(jobData.postcode, jobData.city) }}</td>
    </tr>
    </tbody>
  </table>

  <!-- Salary: Type and Amount -->
  <h4>Salary</h4>
  <table class="table">
    <tr>
      <th scope="row" style="width: 40%;">Type</th>
      <td style="width: 60%;">{{ format.salaryType(jobData.salaryType) }}</td>
    </tr>
    <tr>
      <th scope="row">Amount</th>
      <td>CHF {{ jobData.salaryAmount }}</td>
    </tr>
  </table>
</div>



<!-- Employer Details -->
<div class="col-sm-4 employer-box">

  <h4>About the Employer:</h4>
  <hr>

  <!-- Logo -->
  <img src="{{ format.logo(companyData.logo) }}">

  <!-- Company Name and Status Label (Green: Verified; Red: Unverified) -->
  <p>
    <strong>Company</strong>
    <span class="pull-right">
      <span class="label label-success" *ngIf="companyData.verified == true">Verified</span>
      <span class="label label-warning" *ngIf="companyData.verified == null">In Verification</span>
      <span class="label label-danger" *ngIf="companyData.verified == false">Unverified</span>&nbsp;
      <span class="label label-info" *ngIf="companyData.featured == true"><span class="glyphicon glyphicon-star" title="Featured"></span> Featured</span>
    </span>
    <br><a [routerLink]="['/company/details/', companyData.id]">{{ format.simpleText(companyData.name) }}</a>
  </p>

  <!-- Description -->
  <p>
    <strong>Description</strong><br>
    {{ format.simpleText(companyData.description) }}
  </p>

  <!-- Address: Name, Street, House No., Postcode and City -->
  <p>
    <strong>Address</strong><br>
    {{ format.simpleText(companyData.name) }}<br>
    {{ format.street(companyData.street, companyData.houseNumber) }}<br>
    {{ format.city(companyData.postcode, companyData.city) }}
  </p>

  <!-- Contact Person -->
  <p>
    <strong>Contact Person</strong><br>
    {{ format.simpleText(companyData.contactName) }}<br>
  </p>

  <!-- Contact Details: Phone, E-Mail and Website -->
  <table>
    <tbody>
    <tr *ngIf="!format.isEmpty(companyData.contactPhone)">
      <td style="width: 25%">Phone:</td>
      <td>{{ format.simpleText(companyData.contactPhone) }}</td>
    </tr>
    <tr *ngIf="!format.isEmpty(companyData.contactEmail)">
      <td>E-Mail:</td>
      <td><a href="mailto:{{ companyData.contactEmail }}">{{ format.simpleText(companyData.contactEmail) }}</a></td>
    </tr>
    <tr *ngIf="!format.isEmpty(companyData.website)">
      <td>Website:</td>
      <td><a href="http://www.{{ companyData.website }}">{{ format.website(companyData.website) }}</a></td>
    </tr>
    </tbody>
  </table>

</div>
