<h3>{{ jobData.title }}</h3>
<hr>

<!-- TODO - Add conditional formatting of cells depending on its content -->

<!-- Job Details -->
<div class="col-sm-8">
  <small>{{ jobData.datePosted }}&nbsp;&nbsp;|&nbsp;&nbsp;<strong>{{ jobData.city }}</strong>&nbsp;&nbsp;|&nbsp;&nbsp;{{ jobData.workloadMin }}-{{ jobData.workloadMax }}%</small>

  <h4>Description</h4>
  <p>{{ jobData.description }}</p>

  <h4>Requirements</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Required Skills</th>
      <td style="width: 60%;">{{ jobData.skills }}</td>
    </tr>
    <tr>
      <th scope="row">Languages</th>
      <td>{{ jobData.firstLanguage }}, {{ jobData.secondLanguage }}</td>
    </tr>
    </tbody>
  </table>

  <h4>Dates</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Start Date</th>
      <td style="width: 60%;">{{ jobData.startDate }}</td>
    </tr>
    <tr>
      <th scope="row">End Date</th>
      <td>{{ jobData.endDate }}</td>
    </tr>
    </tbody>
  </table>

  <h4>Work Location</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Street</th>
      <td style="width: 60%;">{{ jobData.street }} {{ jobData.houseNumber }}</td>
    </tr>
    <tr>
      <th scope="row">ZIP Code / Place</th>
      <td>{{ jobData.postcode }} {{ jobData.city }}</td>
    </tr>
    </tbody>
  </table>


  <h4>Salary</h4>
  <table class="table">
    <tr>
      <th scope="row" style="width: 40%;">Type</th>
      <td style="width: 60%;">{{ jobData.salaryType }}</td>
    </tr>
    <tr>
      <th scope="row">Amount</th>
      <td>CHF {{ jobData.salaryAmount }}</td>
    </tr>
  </table>
</div>


<!-- Employer Details -->
<div class="col-sm-4 employer-box">

  <h4>About the Employer:</h4>
  <hr>

  <img src="{{ format.logo(companyData.logo) }}">

  <p>
    <strong>Company</strong>
    <span class="label label-success pull-right" *ngIf="companyData.verified == true">Verified</span>
    <span class="label label-danger pull-right" *ngIf="companyData.verified == false">Unverified</span><br>
    {{ format.simpletext(companyData.name) }}
  </p>
  <p>
    <strong>Description</strong><br>
    {{ format.simpletext(companyData.description) }}
  </p>
  <p>
    <strong>Address</strong><br>
    {{ format.simpletext(companyData.name) }}<br>
    {{ format.street(companyData.street, companyData.houseNumber) }}<br>
    {{ format.city(companyData.postcode, companyData.city) }}
  </p>
  <p>
    <strong>Contact Person</strong><br>
    {{ format.simpletext(companyData.contactName) }}<br>
  </p>

  <table>
    <tbody>
    <tr>
      <td style="width: 25%">Phone:</td>
      <td>{{ format.simpletext(companyData.contactPhone) }}</td>
    </tr>
    <tr>
      <td>E-Mail:</td>
      <td><a href="mailto:{{ companyData.contactEmail }}">{{ format.simpletext(companyData.contactEmail) }}</a></td>
    </tr>
    <tr>
      <td>Website:</td>
      <td><a href="http://www.{{ companyData.website }}">{{ format.website(companyData.website) }}</a></td>
    </tr>
    </tbody>
  </table>

</div>
