img {
  max-width: 80%;
  max-height: 60px;
  display: block;
  margin: 0 auto 15px auto;
}

small {
  font-size: 12px;
}

table {
  width: 100%;
}

p {
  text-align: justify;
}

hr {
  border-color: #444444;
}

h4 {
  margin: 30px 0 10px 0;
}

.employer-box {
  background-color: #EEEEEE;
  border: 2px solid #000;
}

.employer-box h4 {
  margin: 10px 0 10px 0;
}

.employer-box table {
  margin-bottom: 10px;
}

.label {
  font-weight: 500;
  padding: 4px 4px 2px 3px;
}

.glyphicon-star {
  padding-left: 2px;
  padding-bottom: 3px;
}
