<h3>{{ jobData.title }}</h3>
<hr>

<!-- TODO: Adjust for new data -->
<div class="col-md-8">
  <small>{{ jobData.startDate.toLocaleDateString('en-GB').toString().replace("/", ".").replace("/", ".") }}
    | <strong>{{ jobData.place }}</strong>
    | {{ jobData.workloadMin }}-{{ jobData.workloadMax }}%</small>
  <br>

  <h4>Description</h4>
  <p>{{ jobData.description }}</p>
  <br>

  <h4>Details</h4>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row" style="width: 40%;">Start Date</th>
      <td style="width: 60%;">{{ jobData.startDate.toLocaleDateString('en-GB').toString().replace("/", ".").replace("/", ".") }}</td>
    </tr>
    <tr>
      <th scope="row">End Date</th>
      <td>{{ jobData.endDate.toLocaleDateString('en-GB').toString().replace("/", ".").replace("/", ".") }}</td>
    </tr>
    <tr>
      <th scope="row">Required Skills</th>
      <td>{{ jobData.skills }}</td>
    </tr>
    <tr>
      <th scope="row">Languages</th>
      <td>{{ jobData.languages }}</td>
    </tr>
    </tbody>
  </table>
  <br>

  <h4>Salary</h4>
  <table class="table">
    <tr>
      <th scope="row" style="width: 40%;">Type</th>
      <td style="width: 60%;">{{ jobData.salaryType }}</td>
    </tr>
    <tr>
      <th scope="row">Amount</th>
      <td>CHF {{ jobData.salaryAmount }}</td>
    </tr>
  </table>
</div>

<div class="col-md-4 employer-box">
  <h4>About the Employer:</h4>
  <hr>

  <p>
    <strong>Company</strong><br>
    {{ userData.name }}
  </p>
  <p>
    <strong>Description</strong><br>
    {{ userData.description }}
  </p>
  <p>
    <strong>Address</strong><br>
    {{ userData.name }}<br>
    {{ userData.street }}<br>
    {{ userData.zipCode }} {{ userData.place }}
  </p>
  <p>
    <strong>Contact</strong><br>
    <em>Website: </em><a href="{{ userData.website }}">{{ userData.website }}</a><br>
    <em>E-Mail: </em><a>{{ userData.contactEmail }}</a>
  </p>
</div>
