<mat-form-field>
  <input matInput placeholder="Title" [(ngModel)]="jobItem.title" name="title" (ngModelChange)="onSave()">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Description" [(ngModel)]="jobItem.description" name="description" (ngModelChange)="onSave()">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Required Skills" [(ngModel)]="jobItem.skills" name="skills" (ngModelChange)="onSave()">
</mat-form-field>
<button mat-button (click)="onDelete()">Delete</button>
