<table>
  <tr>

    <!-- Job Posting Details - List of all details provided by the user -->
    <td>
      <p>
        <strong>Title</strong><br>
        {{ format.simpleText(jobEntry.title) }}
      </p>
      <p>
        <strong>Company Name</strong><br>
        {{ format.simpleText(jobEntry.companyName) }}
      </p>
      <p>
        <strong>Description</strong><br>
        {{ format.simpleText(jobEntry.description) }}
      </p>
      <p>
        <strong>Workload</strong><br>
        {{ format.workload(jobEntry.workloadMin, jobEntry.workloadMax) }}
      </p>
      <p>
        <strong>Required Skills</strong><br>
        {{ format.simpleText(jobEntry.skills) }}
      </p>
      <p>
        <strong>Languages</strong><br>
        {{ format.languages(jobEntry.firstLanguage, jobEntry.secondLanguage) }}
      </p>
      <p>
        <strong>Date Posted</strong><br>
        {{ format.datePosted(jobEntry.datePosted) }}
      </p>
      <p>
        <strong>Start Date</strong><br>
        {{ format.startDate(jobEntry.startDate) }}
      </p>
      <p>
        <strong>End Date</strong><br>
        {{ format.endDate(jobEntry.endDate) }}
      </p>
      <p>
        <strong>Offer Valid Until</strong><br>
        {{ format.dateFromMillisecondToString(jobEntry.validUntil) }}
      </p>
      <p>
        <strong>Street</strong><br>
        {{ format.street(jobEntry.street, jobEntry.houseNumber) }}
      </p>
      <p>
        <strong>Postcode / Place</strong><br>
        {{ format.city(jobEntry.postcode, jobEntry.city) }}
      </p>
      <p>
        <strong>Salary Type</strong><br>
        {{ format.salaryType(jobEntry.salaryType) }}
      </p>
      <p>
        <strong>Salary Amount</strong><br>
        {{ format.salaryAmount(jobEntry.salaryAmount) }}
      </p>
    </td>

    <!-- Approve/Deny Button for Admin to evaluate Job Posting -->
    <td class="pull-right">
      <button type="button" class="btn btn-success" title="Approve" (click)="onApproveJob()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <br>
      <button type="button" class="btn btn-danger" title="Deny" (click)="onDenyJob()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </td>

  </tr>
</table>
