table {
  width: 100%;
  background-color: #f3f3f3;
  border: #666666 solid 2px;
  margin-bottom: 10px;
  padding: 10px 0 10px 5px;
}

td {
  padding: 5px 0 5px 2px;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.btn {
  margin: -2px 2px 0 2px;
}

.glyphicon {
  vertical-align: middle;
}

.label {
  font-size: 11px;
  font-weight: 500;
  padding: 4px 3px 2px 3px;
  margin-right: 5px;
}
