<h3>
  My Job Postings
  <span class="pull-right">

    <!-- Buttons for changing job posting view and creating a new one -->
    <button type="button" class="btn btn-group" title="Group/Ungroup" (click)="changeSort()"><span class="glyphicon glyphicon-sort"></span></button>
    <button type="button" class="btn btn-group btn-primary" title="Create New Job" routerLink="/jobs/create"><span class="glyphicon glyphicon-plus"></span></button>
  </span>
</h3>
<hr>

<!-- Display message if you don't have any job postings -->
<div *ngIf="myJobPostings.length == 0">
  <p><em>You currently don't have any job postings.</em></p>
</div>

<!-- Displays job postings (if any exist) -->
<div *ngIf="myJobPostings.length > 0">

  <!-- Displays job postings in single list -->
  <div *ngIf="myJobPostingsView === 'all'">
    <app-my-job-item
      *ngFor="let myJobItem of myJobPostings"
      [myJobData]="myJobItem"
      (jobSubmissionEdit)="editJobSubmission($event)"
      (jobSubmissionDelete)="deleteJobSubmission($event)">
    </app-my-job-item>
  </div>

  <!-- Displays job postings in grouped view according to status -->
  <div *ngIf="myJobPostingsView === 'grouped'">

    <!-- Approved job postings-->
    <div *ngIf="acceptedPostings.length > 0">
      <h4 class="success"><span class="glyphicon glyphicon-ok-circle"></span> Approved:</h4>
      <app-my-job-item
        *ngFor="let myJobItem of acceptedPostings"
        [myJobData]="myJobItem"
        (jobSubmissionEdit)="editJobSubmission($event)"
        (jobSubmissionDelete)="deleteJobSubmission($event)">
      </app-my-job-item>
      <br>
    </div>

    <!-- In Review job postings -->
    <div *ngIf="inReviewPostings.length > 0">
      <h4 class="warning"><span class="glyphicon glyphicon-refresh"></span> In Review:</h4>
      <app-my-job-item
        *ngFor="let myJobItem of inReviewPostings"
        [myJobData]="myJobItem"
        (jobSubmissionEdit)="editJobSubmission($event)"
        (jobSubmissionDelete)="deleteJobSubmission($event)">
      </app-my-job-item>
      <br>
    </div>

    <!-- Denied job postings -->
    <div *ngIf="deniedPostings.length > 0">
      <h4 class="danger"><span class="glyphicon glyphicon-remove-circle"></span> Denied:</h4>
      <app-my-job-item
        *ngFor="let myJobItem of deniedPostings"
        [myJobData]="myJobItem"
        (jobSubmissionEdit)="editJobSubmission($event)"
        (jobSubmissionDelete)="deleteJobSubmission($event)">
      </app-my-job-item>
    </div>
  </div>

</div>
