<div>
  <h3>
    My Account
    <span class="pull-right"><button type="button" class="btn btn-danger" (click)="deleteAccount()">Delete Account</button></span>
  </h3>
  <hr>
  <p><em>Your current account settings:</em></p>

  <form class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-3 control-label">E-Mail</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" placeholder="E-Mail" name="email" [(ngModel)]="userData.email">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" placeholder="Re-enter Password" name="password" [(ngModel)]="userData.password">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Confirm Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm password" [(ngModel)]="confirmPassword">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" (click)="updateAccount()">Save Changes</button>
      </div>
    </div>

  </form>

  <hr>

  <p><em>Your current company settings:</em></p>

  <form class="form-horizontal">
    <!-- Company - Company Details-->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h5>Company Details</h5>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="Name" name="name" [(ngModel)]="companyData.name">
      </div>
    </div>

    <div class="form-group">
      <label for="desc" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <textarea id="desc" rows="2" class="form-control" placeholder="Description" name="description" [(ngModel)]="companyData.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Website</label>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon">www.</div>
          <input type="text" class="form-control" placeholder="Website" name="website" [(ngModel)]="companyData.website">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Logo</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="URL to image of company logo (preferably .png)" name="logo" [(ngModel)]="companyData.logo">
      </div>
    </div>

    <!-- Company - Address -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h5>Address</h5>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Street / House No.</label>
      <div class="col-sm-7">
        <input class="form-control" placeholder="Street" name="street" [(ngModel)]="companyData.street">
      </div>
      <div class="col-sm-2">
        <input class="form-control" placeholder="House No." name="houseNumber" [(ngModel)]="companyData.houseNumber">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">ZIP Code / Place</label>
      <div class="col-sm-2">
        <input class="form-control" placeholder="ZIP Code" name="zipCode" [(ngModel)]="companyData.postcode">
      </div>
      <div class="col-sm-7">
        <input class="form-control" placeholder="Place" name="place" [(ngModel)]="companyData.city">
      </div>
    </div>

    <!-- Company - Contact Person -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h5>Contact Person</h5>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="Name" name="contactName" [(ngModel)]="companyData.contactName">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">E-Mail</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="E-Mail" name="contactEmail" [(ngModel)]="companyData.contactEmail">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Phone</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="Phone" name="contactPhone" [(ngModel)]="companyData.contactPhone">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" (click)="updateCompany()">Save Changes</button>
      </div>
    </div>
  </form>
</div>

<br><br>

<div>
  <h3>
    My Job Postings
    <span class="pull-right"><button type="button" class="btn btn-primary" routerLink="/jobs/create">Create New</button></span>
  </h3>
  <hr>
  <p><em>Your current job postings:</em></p>

  <app-my-job-item
    *ngFor="let myJobItem of myJobPostings"
    [myJobData]="myJobItem"
    (jobSubmissionEdit)="editJobSubmission($event)"
    (jobSubmissionDelete)="deleteJobSubmission($event)">
  </app-my-job-item>
</div>
