<a class="list-group-item list-group-item-action clearfix">
  <table>
    <tr>

      <td style="padding-right: 10px;">

        <!-- Title of Job Posting -->
        <h4 class="list-group-item-heading giveMeEllipsis">
          <a [routerLink]="['/jobs/details/', myJobData.id, myJobData.companyId]">{{ format.simpleText(myJobData.title) }}</a>
        </h4>

        <!-- Status Label (Green: Approved; Yellow: In Review; Red: Denied), Date Posted, City and Workload -->
        <small>
          <span class="label label-success" *ngIf="myJobData.accepted == true">Approved</span>
          <span class="label label-warning" *ngIf="myJobData.accepted == null">In Review</span>
          <span class="label label-danger" *ngIf="myJobData.accepted == false">Denied</span>
          {{ format.datePosted(myJobData.datePosted) }}
           |
          <strong>{{ format.simpleText(myJobData.city) }}</strong>
           |
          {{ format.workload(myJobData.workloadMin, myJobData.workloadMax) }}
        </small>

        <!-- Description and Skills -->
        <p class="list-group-item-text giveMeEllipsis">{{ format.simpleText(myJobData.description) }}</p>
        <small class="text-muted giveMeEllipsis"><em>Required Skills: </em>{{ format.simpleText(myJobData.skills) }}</small>

        <!-- Message from Admin (only if Job Posting was denied) -->
        <div class="alert alert-danger" *ngIf="myJobData.messageFromAdmin != '' && myJobData.accepted == false">
          <strong>Please fix the following:</strong><br>
          {{ format.simpleText(myJobData.messageFromAdmin) }}
        </div>
      </td>

      <!-- Edit/Delete Button for your Job Posting -->
      <td class="text-right">
        <button type="button" class="btn btn-primary" title="Edit" (click)="onEditJobItem()">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <br>
        <button type="button" class="btn btn-danger" title="Delete" (click)="onDeleteJobItem()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>

    </tr>
  </table>
</a>
