table {
  width: 100%;
  vertical-align: top;
}

a {
  color: #000;
}

small {
  font-size: 85%;
}

.alert {
  font-size: 12px;
  padding: 2px;
  margin: 2px 0 2px 0;
}

.list-group-item {
  padding-left: 10px;
  padding-right: 0;
}

.label {
  font-size: 11px;
  font-weight: 500;
  padding: 4px 3px 2px 3px;
  margin-right: 5px;
}

.list-group-item-heading {
  font-size: 16px;
  font-weight: bolder;
}

.list-group-item-text {
  margin-top: 7px;
}

.btn {
  margin: 5px;
  width: 40px;
}

.glyphicon {
  vertical-align: middle;
}

.glyphicon-star {
  padding-left: 1px;
  padding-bottom: 5px;
}

.text-right {
  width: 1%;
  white-space: nowrap;
}
