<h3>Contact</h3>
<hr>

<p>Nam lobortis egestas sem, vitae efficitur lectus tincidunt eu. Sed est orci, luctus ac pulvinar et, aliquet eget urna. Cras pharetra turpis a metus semper, non maximus ante malesuada. Fusce varius diam vitae volutpat tincidunt. Donec ac bibendum ligula, non scelerisque purus. Suspendisse scelerisque dolor urna, et fringilla augue scelerisque vitae. Mauris sodales viverra nibh at tincidunt.</p>

<br>

<div class="row glyphs">
  <ul>
    <li>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="#">admin@job-postings.com</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>123 456 78 90
    </li>
    <li>
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Bern
    </li>
  </ul>
</div>
