p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.8em;
}

a {
  cursor: pointer;
}

span {
  width: 30px !important;
}

.margin {
  margin-right: 30px;
}

.glyphicon {
  width: 30px;
}

.glyphs {
  padding: 0;
  margin: 0;
}
