<h3>Contact</h3>
<hr>

<div class="row glyphs">
  <p>
    <!-- Contact Details (E-Mail, Phone and Address) -->
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a>admin@job-postings.com</a><br><br>
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>123 456 78 90<br><br>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Fachschaft Mathematik Informatik<br>
    <span class="margin"></span>Exakte Wissenschaften<br>
    <span class="margin"></span>Sidlerstrasse 5<br>
    <span class="margin"></span>3012 Bern<br>
  </p>
</div>
