<h3>About Us</h3>
<hr>

<!-- MIB Logo -->
<p>
  <img src="../../assets/mib_logo.png">
</p>

<!-- MIB Description -->
<p>
  Die Fachschaft Mathematik und Informatik der Universität Bern (MIB) ist die offizielle Vertretung der Mathematik und Informatik Studenten und Studentinnen. Alle Studierenden, die Mitglied der StudentInnenschaft der Universität Bern (SUB) sind, sind automatisch auch Mitglied der Fachschaft ihres Studienfachs. Sie ist als Verein organisiert.
</p>
<p>
  Die Fachschaft bringt die Interessen der Studierenden in diversen Gremien und Kommissionen, wie der Haus- und Bibliothekskommission, ein. So hat die Fachschaft zum Beispiel bei jeder Professorenwahl ein Stimmrecht. Zudem hält die Fachschaft Kontakt mit Dozierenden, der StudentInnenschaft der Universität Bern und ihrer Fakultät.
</p>
<p>
  Nebst der Vertretung der Studierenden gegenüber der Universität Bern hat die Fachschaft auch das Ziel den Kontakt zwischen den Studierenden zu stärken und den Hochschulalltag zu erleichtern.
</p>
<p>
  Der Vorstand führt die laufenden Geschäfte der Fachschaft und informiert die Studierenden. Zweimal im Jahr wird eine Fachschaftsversammlung durchgeführt an der alle Studierenden eingeladen sind. An der Fachschaftsversammlung können weitere Anlässe und Dienstleistungen geplant werden; sie dient zudem zur Information über laufende Projekte. Auch Wahlen in den Vorstand oder eine Änderung der Statuten werden an der Fachschaftsversammlung beschlossen.
</p>
