p {
  padding-top: 20px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.8em;
}

img {
  max-width: 100%;
  width: 370px;
  display: block;
  vertical-align: center;
  padding: 15px;
  margin: 5px auto 5px auto;
  border: #dddddd solid 1px;
}

a {
  cursor: pointer;
}

span {
  width: 30px !important;
}

.margin {
  margin-right: 30px;
}

.glyphicon {
  width: 30px;
}

.glyphs {
  padding: 0;
  margin: 0;
}

.col-md-6 {
  margin-left: 0;
  padding-left: 0;
}

.contact {
  font-size: 16px;
  line-height: 1.8em;
}
