<h3>About Us</h3>
<hr>

<!-- MIB Logo -->
<p>
  <img src="../../assets/mib_logo.png">
</p>

<!-- MIB Description -->
<p>
  Die Fachschaft Mathematik und Informatik der Universität Bern (MIB) ist die offizielle Vertretung der Mathematik und Informatik Studenten und Studentinnen. Alle Studierenden, die Mitglied der StudentInnenschaft der Universität Bern (SUB) sind, sind automatisch auch Mitglied der Fachschaft ihres Studienfachs. Sie ist als Verein organisiert.
</p>
<p>
  Die Fachschaft bringt die Interessen der Studierenden in diversen Gremien und Kommissionen, wie der Haus- und Bibliothekskommission, ein. So hat die Fachschaft zum Beispiel bei jeder Professorenwahl ein Stimmrecht. Zudem hält die Fachschaft Kontakt mit Dozierenden, der StudentInnenschaft der Universität Bern und ihrer Fakultät.
</p>
<p>
  Nebst der Vertretung der Studierenden gegenüber der Universität Bern hat die Fachschaft auch das Ziel den Kontakt zwischen den Studierenden zu stärken und den Hochschulalltag zu erleichtern.
</p>
<p>
  Der Vorstand führt die laufenden Geschäfte der Fachschaft und informiert die Studierenden. Zweimal im Jahr wird eine Fachschaftsversammlung durchgeführt an der alle Studierenden eingeladen sind. An der Fachschaftsversammlung können weitere Anlässe und Dienstleistungen geplant werden; sie dient zudem zur Information über laufende Projekte. Auch Wahlen in den Vorstand oder eine Änderung der Statuten werden an der Fachschaftsversammlung beschlossen.
</p>

<hr>

<div class="contact">
  <div class="col-md-6">
    <!-- Address -->
    <strong>Address</strong><br>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Fachschaft Mathematik Informatik<br>
    <span class="margin"></span>Exakte Wissenschaften<br>
    <span class="margin"></span>Sidlerstrasse 5<br>
    <span class="margin"></span>3012 Bern<br>
  </div>
  <div class="col-md-6">
    <!-- Contact Email and Phone -->
    <strong>Contact</strong><br>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a>admin@job-postings.com</a><br>
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>123 456 78 90
  </div>
</div>
